/ {
    aliases {
	my-button = &button_1;
    };

    custom-buttons {
	button_1: custom_button_1 {
	    compatible = "custom,button";
	    pin = <&a0>;
	};
    };

    gpio-keys {
	compatible = "gpio-keys";

	a0: gpioa {
	    gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
	};
    };
};
